@charset "UTF-8";
/*  ======== transform function ==========

	none
// ---------  矩阵  ---------------------------------------
	matrix(n,n,n,n,n,)	    // 2D转换，6个值的矩阵           | matrix(<number>, <number>, <number>, <number>, <number>, <number>)
	matrix3d(n,n,n,n,n...)	// 3D转换，16个值的 4x4 矩阵

// ---------  移动  ---------------------------------------
	translate(x,y)          // 定义2D转换
	translate3d(x,y,z)      // 3D转换                        | translate3d(<translation-value>, <translation-value>, <translation-value>)
	translateX(x)           // X轴的转换
	translateY(y)           // Y轴的转换
	translateZ(x)			// 
	
// ---------  缩放  ---------------------------------------
	scale(x,y)              // 定义2D缩放转换
	scale3d(x,y,z)          // 定义3D缩放转换
	scaleX(x)               // 通过X轴的值定义缩放转换
	scaleY(y)               // 通过Y轴的值来定义缩放转换
	scaleZ(z)               // 通过X轴的值来定义3D缩放转换

// ---------  旋转  ---------------------------------------
	rotate(angle)           // 定义角度来设置2D旋转
	rotate3d(x,y,z,angle)   // 定义3D旋转
	rotateX(angle)          // 沿着X轴的3D旋转
	rotateY(angle)          //
	rotateZ(angle)          //

// ---------  倾斜  ---------------------------------------
	skew(x-angle,y-angle)   // 沿着 x 和 y 的2D倾斜转换
	skewX(angle)            // 沿着x轴的2D倾斜转换
	skewY(angle)            // Y轴的2D倾斜转换

	perspective(n)          // 为3D转换元素定义透视视图
*/
/* =============================================
 		经测，scale及rotate3d，大多都不被支持
 		不建议用这个规则
   ============================================== */
/* transform-origin: 
// legal value:
// [ 
     [ 
	   [ <percentage> | <length> | left | center | right ]
	   [ <percentage> | <length> | top | center | bottom ]? 
	 ] <length> 
   ]

     |

   [ 
      [ 
        [ left | center | right ] || [ top | center | bottom ] 
      ] <length> 
   ]
*/
/*  ====================================================
		translate  平移
    ====================================================  */
/*  ====================================================
		scale 缩放
    ====================================================  */
/*  ====================================================
		rotate 旋转
    ====================================================  */
/*  ====================================================
		skew 倾斜
    ====================================================  */
/*  ====================================================
		transform-origin
    ====================================================  */
/*  ====================================================
		给 transform 添加多个 function
    ====================================================  */
.test {
  -webkit-transform: skew(20deg, 45deg) rotateX(20deg) rotateY(20deg) scale3d(1.5, 1, 2);
  -moz-transform: skew(20deg, 45deg) rotateX(20deg) rotateY(20deg) scale3d(1.5, 1, 2);
  -ms-transform: skew(20deg, 45deg) rotateX(20deg) rotateY(20deg) scale3d(1.5, 1, 2);
  -o-transform: skew(20deg, 45deg) rotateX(20deg) rotateY(20deg) scale3d(1.5, 1, 2);
  transform: skew(20deg, 45deg) rotateX(20deg) rotateY(20deg) scale3d(1.5, 1, 2);
  -webkit-transform-origin: center top;
  -moz-transform-origin: center top;
  -ms-transform-origin: center top;
  -o-transform-origin: center top;
  transform-origin: center top; }
